
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #050505;
  color: #ffffff;
  padding-top: 70px;
}


.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: rgba(27, 24, 24, 0.9);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
  z-index: 1000;
}

.logo {
  font-size: 25px;
  font-weight: 700;
}

.nav-links a {
  color: #cfcfcf;
  margin-left: 28px;
  text-decoration: none;
  font-size: 15px;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #7c3aed;
}

/* HERO */
.hero {
  min-height: 100vh;
  padding: 120px 60px;
}

.badge {
  display: inline-block;
  background: #1a103d;
  color: #7c3aed;
  padding: 6px 14px;
  border-radius: 20px;
  margin-bottom: 25px;
}

.hero-title {
  font-family: Georgia, serif;
  font-size: 88px;
  line-height: 1.1;
  margin-bottom: 20px;
}

.hero-title span {
  color: #7c3aed;
}

.hero-text {
  max-width: 600px;
  color: #b5b5b5;
  line-height: 1.6;
  margin-bottom: 35px;
  font-size: 20px;
}

.hero-buttons {
  display: flex;
  gap: 15px;
}

.btn {
  padding: 12px 26px;
  border-radius: 30px;
  text-decoration: none;
  font-size: 15px;
}

.btn.primary {
  background: #7c3aed;
  color: white;
}

.btn.outline {
  border: 1px solid white;
  color: white;
}

/* ABOUT */
.about {
  display: flex;
  align-items: center;
  gap: 80px;
  padding: 80px 60px;
  min-height: 100vh;
}

.about-image img {
  width: 500px;
  height: 500px;
  object-fit: cover;
  object-position: top; 
  border-radius: 10px;
}

.about-content {
  max-width: 600px;
  text-align: center;
  font-size: 20px;
}

.about-content h2 {
  font-size: 36px;
  margin-bottom: 50px;
}

/* SECTIONS */
.section {
  padding: 80px 60px;
}

.section h2 {
  font-size: 36px;
  margin-bottom: 15px;
}

/* FOOTER */
.footer {
  background: #0b0b0b;
  text-align: center;
  padding: 70px 20px;
}

.footer h2 {
  font-size: 42px;
  margin-bottom: 15px;
}

.footer p {
  max-width: 600px;
  margin: 0 auto 25px;
  color: #b5b5b5;
}

.footer img {
  width: 36px;
  margin-bottom: 20px;
}

.footer .copyright {
  font-size: 14px;
  color: #888;
}
